<h2> Welcome to {{celebrity.name}} page </h2>
<hr>
<div class="celebrity-id">
    <p>Name: {{celebrity.name}} </p>
    <p>Occupation: {{celebrity.occupation}} </p>
    <p>Catch Phrase: {{celebrity.catchPhrase}} </p>
    <button type="submit"><a href="/celebrities/{{celebrity._id}}/edit">Edit Celebrity</a></button>
</div>